.container {
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  width: auto;
}

.photo {
  max-width: 100%;
  object-fit: cover;
}

th {
  padding-right: 10px;
}

.schools {
  float: left;
}

.neighborhood {
  float: right;
}